.container {
  position: relative;
}

.codeContainer {
  overflow: clip;
  position: relative;

  :global(.shiki) {
    background-color: transparent !important;
    line-height: 1.5;
    margin: 0;

    code {
      font-family: Menlo, Monaco, 'Courier New', monospace;
    }
  }
}

.highlights {
  position: absolute;
  inset: 0;
  opacity: 0.15;
}

.highlight {
  position: absolute;
  left: 0;
  top: 0;
}

.highlightInner {
  position: absolute;
  inset: -0.2em -0.1em;
  background-color: #fff;
}
