.container {
  position: relative;
  font-family: system-ui;
  font-weight: 700;
  font-stretch: condensed;
  color: #fff;
  text-align: center;
  text-wrap: balance;
  -webkit-text-stroke: 0.2em #000;
  paint-order: stroke;
  line-height: 1.2;
}

.segment {
  position: relative;
}

.activeWordHighlight {
  position: absolute;

  &::before {
    content: '';
    position: absolute;
    inset: 0em -0.2em -0.15em;
    background: #ffa537;
    border-radius: 0.1em;
  }
}
