.clipper {
  display: grid;
  overflow: clip;
}

.container {
  display: grid;
  grid-template-rows: 1.8fr var(--middle-height) 1fr;
  container-type: inline-size;
  --title-y-padding: 50px;
  --middle-height: 30px;
}

.top {
  background: linear-gradient(in oklab to bottom, #ffa537, #960f18);
  display: grid;
  place-items: end start;
  color: white;
  font-family: metropolis;
  font-size: 11.5cqw;
  white-space: pre-wrap;
  font-weight: bold;
  padding: var(--title-y-padding) 61px;
}

.middle {
  background: white;
}

.bottom {
  background: linear-gradient(in oklab to bottom, #0290ee, #0a214d);
  display: grid;
  place-items: end stretch;
}

.devtools {
  .top {
    background: linear-gradient(in oklab to bottom, #063F96, #0A214D);
  }
}

.nightly {
  .top {
    background: linear-gradient(in oklab to bottom, #2BC4A2, #0A214D);
  }
  .bottom {
    background: linear-gradient(in oklab to bottom, #582ACB, #2B1141);
  }
}
