.mouse {
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 5px 2px);
  transform-origin: 0 0;
  width: 50px;

  svg {
    display: block;
    width: 100%;
    aspect-ratio: 11.6 / 18.2;
  }
}

.clicker {
  transform-origin: 0 0;
}
